In [5]:
import pandas as pd
import numpy as np
import mysql.connector as conn
from sqlalchemy import create_engine

In [6]:
actor = pd.read_csv('../data/actor.csv')
category = pd.read_csv('../data/category.csv')
film = pd.read_csv('../data/film.csv')
inventory = pd.read_csv('../data/inventory.csv')
language = pd.read_csv('../data/language.csv')
old_HDD = pd.read_csv('../data/old_HDD.csv')
rental = pd.read_csv('../data/rental.csv')

In [7]:
actor = pd.DataFrame(actor)
category = pd.DataFrame(category)
film = pd.DataFrame(film)
inventory = pd.DataFrame(inventory)
language = pd.DataFrame(language)
old_HDD = pd.DataFrame(old_HDD)
rental = pd.DataFrame(rental)

In [8]:
lst = [actor, category, film, inventory, language, old_HDD, rental]
table_names = ['actor', 'category', 'film', 'inventory', 'language', 'old_HDD', 'rental']
for e in range(len(lst)):
    for t in lst[e]:
        if lst[e][t].isna().sum() > 0:
            print(lst[e][t].isna().sum())

1000

In [9]:
for e in range(len(lst)):
    for t in lst[e]:
        if lst[e][t].isna().sum() > 0:
            print(lst[e][t])

0     NaN
1     NaN
2     NaN
3     NaN
4     NaN
       ..
995   NaN
996   NaN
997   NaN
998   NaN
999   NaN
Name: original_language_id, Length: 1000, dtype: float64

In [10]:
language.isna().sum()

language_id    0
name           0
last_update    0
dtype: int64

In [11]:
actor['actor_id'].isna().sum()

0

In [12]:
for e in lst[1]:
    print(lst[1][e].isna().sum())

0
0
0

In [13]:
lst[0]

     actor_id first_name     last_name          last_update
0           1   PENELOPE       GUINESS  2006-02-15 04:34:33
1           2       NICK      WAHLBERG  2006-02-15 04:34:33
2           3         ED         CHASE  2006-02-15 04:34:33
3           4   JENNIFER         DAVIS  2006-02-15 04:34:33
4           5     JOHNNY  LOLLOBRIGIDA  2006-02-15 04:34:33
..        ...        ...           ...                  ...
195       196       BELA        WALKEN  2006-02-15 04:34:33
196       197      REESE          WEST  2006-02-15 04:34:33
197       198       MARY        KEITEL  2006-02-15 04:34:33
198       199      JULIA       FAWCETT  2006-02-15 04:34:33
199       200      THORA        TEMPLE  2006-02-15 04:34:33

[200 rows x 4 columns]

In [14]:
for e in range(len(lst)):
    print(lst[e].isna().sum(), "index = ", e)

actor_id       0
first_name     0
last_name      0
last_update    0
dtype: int64 index =  0
category_id    0
name           0
last_update    0
dtype: int64 index =  1
film_id                    0
title                      0
description                0
release_year               0
language_id                0
original_language_id    1000
rental_duration            0
rental_rate                0
length                     0
replacement_cost           0
rating                     0
special_features           0
last_update                0
dtype: int64 index =  2
inventory_id    0
film_id         0
store_id        0
last_update     0
dtype: int64 index =  3
language_id    0
name           0
last_update    0
dtype: int64 index =  4
first_name      0
last_name       0
title           0
release_year    0
category_id     0
dtype: int64 index =  5
rental_id       0
rental_date     0
inventory_id    0
customer_id     0
return_date     0
staff_id        0
last_update     0
dtype: int64 index =  6

In [15]:
#film_v2 = film.to_csv(r'C:\Users\jvaym\Desktop\IRONHACK\Semana3\DB-SQL\data\film_v2.csv')

In [16]:
film.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 13 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   film_id               1000 non-null   int64
 1   title                 1000 non-null   object
 2   description           1000 non-null   object
 3   release_year          1000 non-null   int64
 4   language_id           1000 non-null   int64
 5   original_language_id  0 non-null      float64
 6   rental_duration       1000 non-null   int64
 7   rental_rate           1000 non-null   float64
 8   length                1000 non-null   int64
 9   replacement_cost      1000 non-null   float64
 10  rating                1000 non-null   object
 11  special_features      1000 non-null   object
 12  last_update           1000 non-null   object
dtypes: float64(3), int64(5), object(5)
memory usage: 101.7+ KB

In [17]:
film.drop('last_update', axis = 1, inplace = True)

In [18]:
for e in lst: # Borramos la columna last update de todas las tablas
    try:
        e.drop('last_update', axis = 1, inplace = True)
    except:
        continue

In [19]:
list((actor.columns))[0]

'actor_id'

In [20]:
colum_tablas = []
for e in range(len(lst)):
    colum_tablas.append(list(lst[e].columns))

In [21]:
colum_tablas2 = []
for e in range(len(colum_tablas)):
    for u in range(len(colum_tablas[e])):
        colum_tablas2.append(colum_tablas[e][u])

In [22]:
len(colum_tablas2)

33

In [23]:
lst_1 = {}

for i, e in enumerate(lst):
    lst_1[i]=list(e.columns)

In [24]:
lst_1

{0: ['actor_id', 'first_name', 'last_name'],
 1: ['category_id', 'name'],
 2: ['film_id',
  'title',
  'description',
  'release_year',
  'language_id',
  'original_language_id',
  'rental_duration',
  'rental_rate',
  'length',
  'replacement_cost',
  'rating',
  'special_features'],
 3: ['inventory_id', 'film_id', 'store_id'],
 4: ['language_id', 'name'],
 5: ['first_name', 'last_name', 'title', 'release_year', 'category_id'],
 6: ['rental_id',
  'rental_date',
  'inventory_id',
  'customer_id',
  'return_date',
  'staff_id']}

In [25]:
for i, e in enumerate(lst):
    print(i)

0
1
2
3
4
5
6

In [26]:
for i in lst_1:
    print(lst_1[i])

['actor_id', 'first_name', 'last_name']
['category_id', 'name']
['film_id', 'title', 'description', 'release_year', 'language_id', 'original_language_id', 'rental_duration', 'rental_rate', 'length', 'replacement_cost', 'rating', 'special_features']
['inventory_id', 'film_id', 'store_id']
['language_id', 'name']
['first_name', 'last_name', 'title', 'release_year', 'category_id']
['rental_id', 'rental_date', 'inventory_id', 'customer_id', 'return_date', 'staff_id']

In [27]:
str(lst[1])

'    category_id         name\n0             1       Action\n1             2    Animation\n2             3     Children\n3             4     Classics\n4             5       Comedy\n5             6  Documentary\n6             7        Drama\n7             8       Family\n8             9      Foreign\n9            10        Games\n10           11       Horror\n11           12        Music\n12           13          New\n13           14       Sci-Fi\n14           15       Sports\n15           16       Travel'

In [28]:
lst_2 = {}
for e in lst_1:
    lst_2[table_names[e]] = lst_1[e]

In [29]:
lst_2 # Esta es la lista de tablas con sus columnas

{'actor': ['actor_id', 'first_name', 'last_name'],
 'category': ['category_id', 'name'],
 'film': ['film_id',
  'title',
  'description',
  'release_year',
  'language_id',
  'original_language_id',
  'rental_duration',
  'rental_rate',
  'length',
  'replacement_cost',
  'rating',
  'special_features'],
 'inventory': ['inventory_id', 'film_id', 'store_id'],
 'language': ['language_id', 'name'],
 'old_HDD': ['first_name',
  'last_name',
  'title',
  'release_year',
  'category_id'],
 'rental': ['rental_id',
  'rental_date',
  'inventory_id',
  'customer_id',
  'return_date',
  'staff_id']}

In [30]:
for i, e in lst_2.items():
    for e in range(len(lst_2[i])):
        print(lst_2[i][e], i)

actor_id actor
first_name actor
last_name actor
category_id category
name category
film_id film
title film
description film
release_year film
language_id film
original_language_id film
rental_duration film
rental_rate film
length film
replacement_cost film
rating film
special_features film
inventory_id inventory
film_id inventory
store_id inventory
language_id language
name language
first_name old_HDD
last_name old_HDD
title old_HDD
release_year old_HDD
category_id old_HDD
rental_id rental
rental_date rental
inventory_id rental
customer_id rental
return_date rental
staff_id rental

In [31]:
lst_2.get('staff_id')

In [32]:
if 'staff_id' in lst_2:
    print('sii')

In [33]:
for i, e in lst_2.items():
    for t in range(len(lst_2[i])):
        print(lst_2[i][t], i)

actor_id actor
first_name actor
last_name actor
category_id category
name category
film_id film
title film
description film
release_year film
language_id film
original_language_id film
rental_duration film
rental_rate film
length film
replacement_cost film
rating film
special_features film
inventory_id inventory
film_id inventory
store_id inventory
language_id language
name language
first_name old_HDD
last_name old_HDD
title old_HDD
release_year old_HDD
category_id old_HDD
rental_id rental
rental_date rental
inventory_id rental
customer_id rental
return_date rental
staff_id rental

In [34]:
lst_2['actor'][0]

'actor_id'

In [35]:
relaciones = {}
for i, p in lst_2.items():
    for e in range(len(lst_2[i])):
        #print(lst_2[i][e])
        for u, o in lst_2.items():
            for t in range(len(lst_2[u])):
                if lst_2[i][e] == lst_2[u][t] and u != i:
                    relaciones[lst_2[u][t]] = [u, i]
                    print(lst_2[u][t], "[", u, "]",  "Se junta con", lst_2[i][e], i)

first_name [ old_HDD ] Se junta con first_name actor
last_name [ old_HDD ] Se junta con last_name actor
category_id [ old_HDD ] Se junta con category_id category
name [ language ] Se junta con name category
film_id [ inventory ] Se junta con film_id film
title [ old_HDD ] Se junta con title film
release_year [ old_HDD ] Se junta con release_year film
language_id [ language ] Se junta con language_id film
inventory_id [ rental ] Se junta con inventory_id inventory
film_id [ film ] Se junta con film_id inventory
language_id [ film ] Se junta con language_id language
name [ category ] Se junta con name language
first_name [ actor ] Se junta con first_name old_HDD
last_name [ actor ] Se junta con last_name old_HDD
title [ film ] Se junta con title old_HDD
release_year [ film ] Se junta con release_year old_HDD
category_id [ category ] Se junta con category_id old_HDD
inventory_id [ inventory ] Se junta con inventory_id rental

In [36]:
relaciones

{'first_name': ['actor', 'old_HDD'],
 'last_name': ['actor', 'old_HDD'],
 'category_id': ['category', 'old_HDD'],
 'name': ['category', 'language'],
 'film_id': ['film', 'inventory'],
 'title': ['film', 'old_HDD'],
 'release_year': ['film', 'old_HDD'],
 'language_id': ['film', 'language'],
 'inventory_id': ['inventory', 'rental']}

In [37]:
lst_2

{'actor': ['actor_id', 'first_name', 'last_name'],
 'category': ['category_id', 'name'],
 'film': ['film_id',
  'title',
  'description',
  'release_year',
  'language_id',
  'original_language_id',
  'rental_duration',
  'rental_rate',
  'length',
  'replacement_cost',
  'rating',
  'special_features'],
 'inventory': ['inventory_id', 'film_id', 'store_id'],
 'language': ['language_id', 'name'],
 'old_HDD': ['first_name',
  'last_name',
  'title',
  'release_year',
  'category_id'],
 'rental': ['rental_id',
  'rental_date',
  'inventory_id',
  'customer_id',
  'return_date',
  'staff_id']}

In [38]:
import datetime
rental = rental.astype({'return_date': 'datetime64'})

In [39]:
type(rental['return_date'][0])

pandas._libs.tslibs.timestamps.Timestamp

In [40]:
new_tables = []
for e in range(len(table_names)):
    new_tables.append(table_names[e] + "_v2")

In [41]:
new_tables

['actor_v2',
 'category_v2',
 'film_v2',
 'inventory_v2',
 'language_v2',
 'old_HDD_v2',
 'rental_v2']

In [42]:
actor_v2 = actor.to_csv(r'C:\Users\jvaym\Desktop\IRONHACK\Semana3\DB-SQL\data\actor_v2.csv', index = False)
category_v2 = category.to_csv(r'C:\Users\jvaym\Desktop\IRONHACK\Semana3\DB-SQL\data\category_v2.csv', index = False)
inventory_v2 = inventory.to_csv(r'C:\Users\jvaym\Desktop\IRONHACK\Semana3\DB-SQL\data\inventory_v2.csv', index = False)
language_v2 = language.to_csv(r'C:\Users\jvaym\Desktop\IRONHACK\Semana3\DB-SQL\data\language_v2.csv', index = False)
old_HDD_v2 = old_HDD.to_csv(r'C:\Users\jvaym\Desktop\IRONHACK\Semana3\DB-SQL\data\old_HDD_v2.csv', index = False)
rental_v2 = rental.to_csv(r'C:\Users\jvaym\Desktop\IRONHACK\Semana3\DB-SQL\data\rental_v2.csv', index = False)

In [43]:
film_v2 = film.to_csv(r'C:\Users\jvaym\Desktop\IRONHACK\Semana3\DB-SQL\data\film_v2.csv', index = False)

In [44]:
#SQL y PANDAS
str_conn='mysql+pymysql://root:##@localhost:3306/celuloide'
cursor=create_engine(str_conn)

In [45]:
actor.to_sql(name='actor', con=cursor, if_exists='fail', index=False)
category.to_sql(name='category', con=cursor, if_exists='fail', index=False)
film.to_sql(name='film', con=cursor, if_exists='fail', index=False)
inventory.to_sql(name='inventory', con=cursor, if_exists='fail', index=False)
language.to_sql(name='language', con=cursor, if_exists='fail', index=False)
old_HDD.to_sql(name='old_HDD', con=cursor, if_exists='fail', index=False)
rental.to_sql(name='rental', con=cursor, if_exists='fail', index=False)

C:\Users\jvaym\anaconda3\lib\site-packages\pandas\io\sql.py:1685: UserWarning: The provided table name 'old_HDD' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  warnings.warn(msg, UserWarning)

In [94]:
lst_2.keys()

dict_keys(['actor', 'category', 'film', 'inventory', 'language', 'old_HDD', 'rental'])

In [95]:
relaciones

{'first_name': ['actor', 'old_HDD'],
 'last_name': ['actor', 'old_HDD'],
 'category_id': ['category', 'old_HDD'],
 'name': ['category', 'language'],
 'film_id': ['film', 'inventory'],
 'title': ['film', 'old_HDD'],
 'release_year': ['film', 'old_HDD'],
 'language_id': ['film', 'language'],
 'inventory_id': ['inventory', 'rental']}